/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 21, 2016, 12:33:09 PM
    Author     : Sammy Guergachi <sguergachi at gmail.com>
*/
.logo {
    display: block;
    background-color: #e0ddc0;
    background-image: url("images/logo.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 50px;
    max-height: 100px;
    max-width: 25vw;
    height: 12vw;
}
.banner {
    background-image: url("images/banner.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 50px;
    max-height: 100px;
    height: 12vw;
}
.box-body {
    min-height: 50vw;
}
/*.menu-bar {
    background-image: url("images/gm.gif");
    background-repeat: repeat-x;
    border-radius: 5px;
    padding: 0;
}
.menu-bar li {
    list-style: none;
    float: left;
    display: block;
    height: 34px;
    line-height: 34px;
}
.menu-bar a {
    font-weight: bold;
    padding: 0 1em;
    color: #eee;
}
.menu-bar li.active a {
    color: #a91f23;
}
.menu-bar li:not(:first-child) {
    background: url(images/g.gif) no-repeat left top;
    padding-left: 2px;
}*/
/*.navbar-my-image {
    background-image: url("images/gm.gif");
    background-repeat: repeat-x;
    background-size: auto 100%;
    border-radius: 5px;
    padding: 0;
    height: 10px;
}*/