/* 
    Created on : Mar 28, 2016, 12:52:44 PM
    Author     : quyettv
*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
}
body {
    color: #222;
    overflow-y: scroll;
    width: 100%;
    height: fit-content;
    height: -ms-fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.clr {
    clear: both;
    height: 0;
    line-height: 1px;
    font-size: 1px;
}
.global-container {
    max-width: 1010px;
    width: 100%;
    margin: 0 auto;
}
.header {
    margin: 0 0 10px 0;
    width: 100%;
}
.main-logo {
    display: block;
    padding: 0 1%;
    width: fit-content;
    width: -ms-fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    height: 54px;
    line-height: 54px;
    font-size: 1.4em;
    font-weight: bold;
    color: #e88000;
}

/*Top menu*/
.top-menu {
    background: #4ac;
}
.top-menu ul {
    list-style: none;
}
.top-menu li {
    float: left;
}
.top-menu li:first-child a {
    padding: 0;
}
.top-menu a {
    display: block;
    line-height: 34px;
    font-weight: bold;
    color: #fff;
    padding: 0 1em;
}
.top-menu a:hover {
    background: #28a;
}
.toggle-bt {
    box-sizing: content-box;
    display: block;
    float: left;
    padding: 0 1em; 
    width: 18px;
    height: 34px;
    border: none;
    background: transparent;
    cursor: inherit;
}
.toggle-bt-name {
    padding: 0 1em 0 0;
}
.toggle-bt .icon-bar {
    display: block;
    width: 100%;
    height: 7%;
    margin-top: 20%;
    background: #fff;
}
.toggle-bt .icon-bar:first-child {
    margin-top: 0;
}


/*Side menu*/
.side-menu {
    float: left;
    width: 240px;
    background: #fff;
    padding: 1em 0.5em;
}
.side-menu ul {
    list-style: none;
}
.side-menu li {
}
.side-menu a {
    display: block;
    width: 100%;
    line-height: 34px;
}
.side-menu .active > a {
    font-weight: bold;
}
.side-menu > ul > li > button {
    position: absolute;
    z-index: 9;
    right: 0;
    top: 2px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: 1.05em;
    box-shadow: 0 0 2px #aaa;
    outline: none;
    margin: auto;
    border: none;
}
.side-menu > ul > li > ul,
.side-menu > ul > li > button {
    background: rgba(255, 255, 255, 0.2);
}
.side-menu > ul > li > ul > li > a {
    padding-left: 0.5em;
    font-size: 0.98em;
}
.side-menu > ul > li > ul {
    display: none;
}
.side-menu > ul > li > button.open + ul {
    display: block;
}

.content {
    float:right;
    width: calc(100% - 240px);
}
.products-group {
    text-align: justify;
}
.products-group h2 {
    text-align: left;
    line-height: 34px;
    padding: 0 1%;
}
.product-item {
    padding: 0 1%;
    width: 32%;
    display: inline-block;
    vertical-align: top;
}
.product-item:hover .image {
    opacity: 0.7;
}
.product-item .image {
    transition: opacity 0.2s;
    width: 100%;
    overflow: hidden;
}
.product-item img {
    width: 100%;
}
.breadcrumbs > a:not(:fist-child)::before {
    content: "» ";
}
.main-container {
    min-height: calc(40vw);
}
.footer {
    padding: 1em 0.2em;
}
.col-6 {
    width: 50%;
    float: left;
}

@media screen and (max-width: 768px) {
    .content {
        width: 100%;
    }
    .products-group {
    }
    .product-item {
        width: 49%;
    }
    .top-menu .more {
        display: none;
    }
    .side-menu {
        position: fixed;
        overflow: auto;
        z-index: 9999;
        height: 100vh;
        top: 0;
        left: 0;
        margin-left: -240px;
        box-shadow: inset -2px -2px 6px #eee;
        -ms-box-shadow: inset -2px -2px 6px #eee;
        -moz-box-shadow: inset -2px -2px 6px #eee;
        -webkit-box-shadow: inset -2px -2px 6px #eee;
    }
    body.toggle,
    body.toggle .side-menu {
        left: 240px;
    }
    body,
    .side-menu {
        transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
    }
    .col-6 {
        width: 100%;
    }
}